:root {
  --bg-main: #fcfaff;
  --bg-surface: #ffffff;
  --text-main: #10002b;
  --text-muted: #5a189a;
  --accent-primary: #7b2cbf;
  --accent-hover: #5a189a;
  --border-color: #e0aaff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #10002b;
    --bg-surface: #240046;
    --text-main: #f8f9fa;
    --text-muted: #e0aaae;
    --accent-primary: #9d4edd;
    --accent-hover: #c77dff;
    --border-color: #3c096c;
  }
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.5;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

input,
button {
  font: inherit;
  padding: 0.6, 1rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-surface);
  color: var(--text-main);
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: var(--accent-primary);
}

/* Custom Select Styles */
.select-box {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 500px;
}

.search-box {
  display: flex;
}

#selected-country {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  padding: 0.3rem 1rem;
}

.options {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  width: 100%;
  max-height: 240px;
  list-style: none;
  overflow-y: auto;
  background-color: var(--bg-surface);
  border: 1px solid var(--border-color);
  border-radius: 10px 60px 0px 0px;
  scrollbar-width: none;
}

.options li {
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.options li:hover {
  background-color: var(--bg-main);
  color: var(--accent-primary);
}

.hidden-element {
  display: none;
}
